* {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}

body {
  margin: 0%;
  min-height: 100vh;
}

#div_header {
  background-color: #ffffff;
  border-bottom: solid 3px #cccccc;
  height: 80px;
  margin-top: 0px;
  margin-bottom: 35px;
  width: 100%;
}

#div_links_header {
  float: right;
  margin-top: 28px;
}

#h1_1th {
  padding-top: 20px;
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  height: 60px;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

#h1_2nd {
  clear: both;
  color: #4aaaa5;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20px;
  height: 60px;
  border-bottom: solid 3px #cccccc;
}

footer {
  background-color: #666666;
  border-top: solid 7px #4aaaa5;
  text-align: center;
  height: 25px;
  padding-top: 38px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  color: #b9b7b7;
}

#picture {
  width: 18%;
  height: 18%;
  float: left;
  margin-right: 3%;
  margin-bottom: 2%;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
}

header,
#central_box {
  width: 960px;
  margin: 0 auto;
}

#central_box {
  background-color: #ffffff;
  border: solid 2px #d8d7d7;
  margin-bottom: 85px;
}

#id_section {
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 2%;
  width: 94%;
}

a {
  padding: 10px;
  text-decoration-line: none;
}

.left_border {
  border-right: solid 1px #cccccc;
}

.div_portfolio {
  float: left;
  position: relative;
  width: 44%;
  height: 300px;
  margin: 3%;
}

.img_portfolio {
  width: 100%;
  margin: 0px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border: solid 2px #aaaaaa;
}

h2 {
  width: 100%;
  height: 20%;
  background-color: #4aaaa5;
  text-align: center;
  line-height: 65px;
  position: absolute;
  left: 2px;
  bottom: 3px;
  color: #ffffff;
  border-top: solid 2px #c7c6c6;
  border-bottom: solid 2px #c7c6c6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

input {
  width: 99.6%;
  margin-bottom: 15px;
  padding: 15px 0px 15px 0px;
}

textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0px 15px 0px;
}

#submit {
  width: 15%;
  background-color: #4aaaa5;
  color: white;
}

#submit:hover {
  background-color: lightblue;
  color: white;
}

a:hover {
  color: #4aaaa5;
}

@media screen and (max-width: 980px) {
  html {
    position: relative;
  }

  #central_box {
    width: auto;
    margin: 0% 2% 85px 2%;
  }

  #div_header {
    position: static;
    width: 100%;
  }

  footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
  }

  header {
    width: 100%;
  }

  #h1_1th {
    margin-left: 2%;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  #div_links_header {
    margin-right: 2%;
  }
}

@media screen and (max-width: 768px) {
  html {
    position: relative;
  }

  #central_box {
    width: auto;
    margin: 0% 2% 85px 2%;
  }

  #div_header {
    position: static;
    width: 100%;
  }

  footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
  }

  header {
    width: 100%;
  }

  #h1_1th {
    margin-left: 2%;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  #div_links_header {
    margin-right: 2%;
  }

  #picture {
    width: 40%;
    height: 40%;
  }

  .div_portfolio {
    height: 200px;
  }
  h2 {
    line-height: 38px;
  }
}

@media screen and (max-width: 640px) {
  html {
    position: relative;
  }

  #central_box {
    width: auto;
    margin: 0% 2% 85px 2%;
  }

  #div_header {
    position: static;
    width: 100%;
    height: 150px;
  }

  footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
  }

  header {
    width: 100%;
  }

  #h1_1th {
    width: 100%;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  #div_links_header {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  #picture {
    width: 100%;
  }

  .div_portfolio {
    height: 250px;
    width: 93%;
  }

  h2 {
    line-height: 50px;
  }
}
